.js2_topfive{

}

.js2_topfive li {
  padding-bottom:2px;
  margin-bottom:2px;
  border-bottom: 1px solid #333;
}

.js2_topfive li:last-child{
  border: none;
  padding:0;
  margin:0;
}

.js2_topfive_wrap{
  overflow: hidden;
  clear: both;
}

.js2_topfive_name{
  float: left;
}

.js2_topfive_sum{
  float: right;
  margin-left:5px;
  font-style: italic;
}

div.js2_alert{
  color: red;
  font-style: italic;
  border-bottom: 1px solid #ddd;
}

span.js2_required{
  color: red;
}

table.js2_form {
  width:90%;
}

table.js2_form td {
  vertical-align: top;
  width: 50%;
}

table.js2_form td input {
  width:100%;
  height:22px;
  padding: 5px 5px;
}

table.js2_form td textarea {
  width: 102%;
  height:100px;
}

table.js2_form td input[type="password"]{
}

table.js2_form td input[type="submit"]{
  width:102%;
  font-weight:bold;
  font-size:16px;
  line-height:16px;
}

table.js2_form input[type="submit"]:hover{
  color: #222;
}

.JS2_achievement_widget{
  font-size:3em;
}

div.achievement_form h3{
  font-family: Century Gothic, sans-serif !important;
}